.navbar {
    background-color: black;
    
}
.abt{
    margin-left: 20px;
    float: left;
    margin-right: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.abtt{
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}
.intro{
    
    margin-left: 20px;
    margin-right: 20px;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    float: right;
    padding: 3px 3px;
    margin: 13px 15px;
    margin-top: 20px;
}

.navbar li a {
    text-decoration: none;
    color: azure;

}
.btn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bolder;
    border: none;
    background-color: navajowhite;
    border-radius: 8px;
    font-size: 1rem;
    width: 115px;
    height: 35px;
}

.btn:active {
   transition: ease;
    background-color: rgb(123, 180, 17);

}
svg{
    background-color: white;
    color: white;
}
.logo{
    color: white;
    font-style: oblique;
}
.upper{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.btn:hover{
    background: linear-gradient(-45deg,#134E5E, #71B280,#2BC0E4,#EAECC6);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    
}
.cont h1 {
    font-weight: bolder;
    font-size: 6vw;
    color: white;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    
}
.cont h2{
    font-weight: lighter;
    font-size: 4vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.info{
    background-color: white;
}
.feat{
    float: right;
    margin-left: 20px;
    margin-right: 20px;
}
.foot{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    float: right;

    width: 100%;
}
